
body{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
   }
h1{
    color: rgb(34, 0, 255);
    font-family: 'Sansita Swashed', cursive;
    font-size: 3.5rem;
}
h2{
    color:rgb(34, 0, 255);
    font-family: 'Sansita Swashed', cursive;
    
}
h3{
    color: rgb(0, 0, 255);
}
h4{
    text-align: center;
    color:  rgb(0, 0, 255)0;
}
p{
    
    color: aqua;
    text-align: center;
}
li{
    color: blueviolet;
}
table{
    width: 70%;
    color: antiquewhite;
    display: flex;
    justify-content: space-around;
    
}
img{
    border-radius: 20px;
    border: 1px solid rgb(167, 11, 220);
    width: 300px;
    height:300px

}
.kop{
    
    text-align: center; 

}